<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="perspective_detect_position" translate="label" sortOrder="10">
            <label>Ip Locate Inc.</label>
        </tab>
        <section id="detect_position" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Detect Position</label>
            <tab>perspective_detect_position</tab>
            <resource>Perspective_IpLocate::cancel_order_config</resource>
            <!-- General Configuration -->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="access_key" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter access key IpStack</label>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Api Key NP</label>
                    <comment>Необходимо получить ключ API на сайте Новой Почты в личном кабинете. Как получить API ключ можно посмотреть здесь: &lt;a href=&quot;https://www.youtube.com/watch?v=Gjc6vXUY1as&quot; target=&quot;_blank&quot;&gt;https://www.youtube.com/watch?v=Gjc6vXUY1as&lt;/a&gt;.</comment>
                </field>
                <field id="lang" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Язык</label>
                    <source_model>Perspective\IpLocate\Model\Source\Lang</source_model>
                    <comment>Для каждой витрины магазина можно указать язык, русский или украинский.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
